<%- include("partials/header"); -%>

<div class="search">
<% titles.forEach(function(title){ %>

    <ul class="li">
      <li ><%=title.title %></li>
    </ul>

<% }) %>
</div>
<%- include("partials/footer"); -%>
